body{
  background-color: black;
}

.main-div{
  display: flex;
  flex-direction: column;
  

  background-color: rgb(246, 18, 18);
  width: 500px;
  height: fit-content;
}
.row-w{
  height: 75px;
  width: 100%;

  background-color: rgb(255, 255, 255);
  display: flex;
}
.row-g{
  height: 75px;
  width: 100%;

  background-color: rgb(5, 125, 13);
  display: flex;
}
.col-w{
  width: 75px;
  height: 100%;

  background-color: white;

  position: relative;

  
}
.col-g{
  width: 75px;
  height: 100%;

  background-color: rgb(5, 125, 13);

  position: relative;
}
.js-cell-{
  background-color: #000000;
}
.icons{
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  
  position: absolute;
  top:30px;
  left: 10px;

  border: none;

  cursor: pointer;
  
}

.sp-cell{
  background-color: yellow;
}
.rook-b-r{
  background-color: blue;
}
.js-show-move{
  background-color: transparent;
  border: none;

  position: absolute;
  top: 30px;
  left: 10px;

  cursor: pointer;
}
.heir{
  background-color: white;
}

.js-cell-{
  visibility: hidden;
}