body{
  background-color: black;
}

.main-div{
  display: flex;
  flex-direction: column;
  

  background-color: rgb(246, 18, 18);
  width: 500px;
  height: fit-content;
}
.row-w{
  height: 75px;
  width: 100%;

  background-color: rgb(255, 255, 255);
  display: flex;
}
.row-g{
  height: 75px;
  width: 100%;

  background-color: rgb(5, 125, 13);
  display: flex;
}
.col-w{
  width: 75px;
  height: 100%;

  background-color: white;
}
.col-g{
  width: 75px;
  height: 100%;

  background-color: rgb(5, 125, 13);
}